  .inputs {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000;
    margin-top: 10px;
   
   }
  .inputs input {
    display: flex;
    padding:15px;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    color: #000;
    background-color: hsl(0, 0%, 100%);
    width: 23.1rem;
    
  }
  .input-email {
    color: black; /* Cor padrão da fonte */
  }
  
  .invalid-email {
    background-color: #ff0000; /* Cor vermelho claro para e-mail inválido */
  }
  
  .error-message {
    color: #ff0000; /* Cor vermelho claro para a mensagem de erro */
  }
  .centered-button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding:20px;
    border-radius: 5px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    border: none;
    background-color:  hsl(234, 29%, 20%);
    font-weight:600;
    font-size: 1rem;
    width: 25rem;
    
  }
 