.form-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    color: hsl(235, 18%, 26%);
  }
  
  .paragraph-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .icon {
    margin-right: 8px;
  }