.form-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    display: flex;
    flex-direction: column;
    color: hsl(235, 18%, 26%);
    margin-left: 2rem;
    width: 80%;
  }
  
  .paragraph-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 350px;

  }
  
  .icon {
    margin-right: 8px;
  }