.form-paragraph { 
  font-family: 'Roboto', sans-serif;
  position: relative;
  
  
  }
  
  .paragraph-container {
    font-weight:600;
    font-size: 1rem;
    color: hsl(235, 18%, 26%);
    display: flex;
    align-items: center;
    width: 25rem;

  }
  
  .icon {
    margin-right: 20px;
  }