#root {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.form {
  width: 60rem;
  height: 30rem;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  text-align: left;
  padding: 10px;
  width: 60%;
  height: 90%;
  
}
