.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55rem;
  padding: 10px;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
}
.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  /* Seus estilos para telas pequenas aqui */
  .form {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 30rem;
  }
  .img img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}