html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Bold", Roboto-Regular;
  background-color: hsl(235, 18%, 26%);
}
